__pycache__/
node_modules/
staticfiles/
vscode/
**/pytest.ini
*.py[cod]
*.pyo
*.swp
.vscode
.venv
.sass-cache
.idea
.terraform
.env
.coverage
test-reports/
*.dump
*.sql
*.zip
local.db
test.db
*.sqlite
.env.local
*.lock
