
{% load menu_tags %}

{% for child in children %}
    <div class="mobile-menu__item{% if child.children %} parent{% endif %}{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
        <a href="{% if child.children %}#{% else %}{{ child.attr.redirect_url|default:child.get_absolute_url }}{% endif %}">{{ child.get_menu_title }}</a>

        {% if child.children %}
            <ol>
                <li><a href="#" class="back">Back</a></li>
                <li><a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="repeat">{{ child.get_menu_title }}</a></li>
                {% show_menu from_level to_level extra_inactive extra_active "_components/mobile_menu_child.html" "" "" child %}
            </ol>
        {% endif %}
    </div>
{% endfor %}


