
{% load cms_tags %}

<footer id="footer" class="site-footer">
    <ul>
        {% for link in social_links %}
            <li><a href="{{ link.url }}" title="{{ cookiecutter.client_name }} on {{ link.name }}"><span class="icon"><img src="{{ link.icon.url }}" alt="" /></span></a></li>
        {% endfor %}
    </ul>
    <ul>
        {% for link in footer_links %}
            <li><a href="{{ link.get_absolute_url }}"{% if link.new_tab %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.text }}</a></li>
        {% endfor %}
    </ul>
</footer>

