
{% extends 'base.html' %}

{% block title %}Sitemap{% endblock title %}

{% block breadcrumb %}{% endblock %}

{% block body %}
    <section class="text-block text-block--sitemap">
        <div class="wrapper wrapper--thin">
            <h1>{{ cookiecutter.client_name }} Sitemap</h1>
            {% for page, info in pages %}
                {% if info.open %}
                    <ul>
                        <li>
                {% else %}
                        </li>
                        <li>
                {% endif %}
                            <a href="{{ page.get_absolute_url }}">{{ page }}</a>
                {% for close in info.close %}
                        </li>
                    </ul>
                {% endfor %}
            {% endfor %}
        </div>
    </section>
{% endblock body %}

